* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    position: relative;
}

.aboutus {
    position: relative;
}

.officials {
    position: relative;
}

.news {
    position: relative;
}

.announcement {
    position: relative;
}